*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(146, 161, 212);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
}
.box__inner {
  padding:10px  20px;
  justify-content: space-between;
  width: 400px;
  border-radius: 5px;
  background-color: rgb(30, 29, 43);
  transition: all 0.3s ease;
}

.box__main {
  margin: 20px 0 0 0;
  width: 400px;
  background-color: rgb(30, 29, 43);
  border-radius: 5px;
  padding: 20px;
  transition: all 0.3s ease;
}
.box__text {
  font-size: 18px;
  color: rgb(172, 165, 165);
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-weight: 600;
  transition: all 0.3s ease;

}
.box__text i{
  font-size: 18px;
  color: rgb(172, 165, 165);
  margin: 0 13px 0 0;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.eye {
  border-radius: 50%;
  background-color: #fff;
  color:rgb(133, 126, 126);
}
.box__input-inner {
  background-color: rgb(30, 29, 43);
  padding: 15px 18px;
  border: none;
  outline: none;
  color: rgb(172, 165, 165);
  font-size: 19px;
  font-weight: 600;
  width: 80%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.white {
  background-color: #fff;
}
.dark {
  background-color: rgb(30, 29, 43);
  transition: all 0.3s ease;
}
.gray {
  color: rgb(30, 29, 43);
  transition: all 0.3s ease;
}
.white-color {
  color: #fff;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}






/* =======boil======== */

.boil {
  background-color: #fff;
  width: 400px;
  padding: 20px 20px;
  border-radius: 5px;
}
.input__boil {
  padding: 8px 15px;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  color: rgb(112, 109, 109);
  width: 80%;
}
.input__boil::placeholder {
  color: rgb(112, 109, 109);
}
.boil__btn {
  background-color: rgb(30, 29, 43);
  border: 1px solid  rgb(30, 29, 43);;
  color: #fff;
  padding: 8px 8px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.boil__btn:hover {
  background-color: #fff;
  color: rgb(30, 29, 43);
  transition: all 0.3s ease; 
  border: 1px solid rgb(30, 29, 43);
}
.boil__btn-one {
  border-radius: 50%;
  background-color: rgb(218, 135, 79);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0 10px ;
}